.contact-container {
    display: flex;
    justify-content: center;
    padding: 60px 20px;
    min-height: 100vh;
    color: white;
}

.board-container {
    background-color: #272727;
    padding: 40px 50px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    width: 100%;
    max-width: 700px;
    position: relative;
    z-index: 10;
}
/* 
.contact-container {
    align-items: center;
    justify-content: center;
    max-width: 700px;
    width: 90%;
    height: 85%;
    padding: 80px 50px;
    min-height: 350px;
    margin: 80px auto;
    background: #272727;
    color: white;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
} */

.contact-container h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.8rem;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 6px;
    font-size: 0.95rem;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #555;
    background-color: #1e1e1e;
    color: white;
    font-size: 1rem;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
    color: #000000;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

.sub-button {
    background: #00000000;
    color: rgb(255, 255, 255);
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
    font-weight: bold;
    font-size: 1rem;
}


select {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #555;
    background-color: #1e1e1e;
    color: white;
    font-size: 1rem;
}

.contact-message {
    text-align: center;
    font-size: 1.1rem;
    margin: 20px auto 30px;
    color: #ccc;
    line-height: 1.6;
}