{% extends 'base.html' %}
{% load static %}

{% block title %}로그인 페이지{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}
{% block content %}
<div class="login-container">
  <div class="login-form">
    <h1>SIGN IN</h1>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn-glitch" type="submit">SIGN IN</button>
    </form>
    <span>회원가입이 아직 안 되어 있나요? <a class="btn-glitch" href="{% url 'signup' %}">SIGN UP</a></span>
  </div>
</div>
{% endblock %}

{% block extra_script %}
<script src="{% static 'js/base.js' %}"></script>
{% endblock %}