{% extends 'base.html' %}
{% load static %}

{% block title %}가사생성 페이지{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}
{% block content %}

<div class="header-center">
  <h1 class="fixed-title">AI 뮤즈</h1>
  <form method="POST" action="{% url 'generate_lyrics' %}" class="header-form">
    {% csrf_token %}
    <div class="input-wrapper">
      <input type="text" name="prompt" id="prompt-input" placeholder="노래 주제 입력" required>
      <i class="fa-solid fa-microphone mic-icon" id="mic-btn" title="음성인식 시작"></i>
      <i class="fa-solid fa-stop mic-icon" id="stop-recognition" style="display: none;" title="음성인식 종료"></i>
      <!-- ⏹ 중단 버튼 -->
    </div>

    <select name="style" required>
      <option value="ballad">발라드</option>
      <option value="hip-hop">힙합</option>
      <option value="rock">록</option>
      <option value="pop">팝</option>
      <option value="indie">인디</option>
      <option value="jazz">재즈</option>
    </select>
    <select name="language" required>
      <option value="none">상관없음</option>
      <option value="korean">한국어</option>
      <option value="english">English</option>
      <option value="japanese">日本語</option>
      <option value="chinese">中文</option>
      <option value="thai">ไทย</option>
    </select>
    <button type="submit">가사 생성</button>
  </form>
</div>


<div class="lyrics-container">
  {% if lyrics %}
  <hr>
  <div class="create-lyrics">
    <div class="lyricsbox-created">
      <h2>🎤 "{{ title }}"</h2>
      <p><strong>주제:</strong> {{ prompt }} / <strong>스타일:</strong> {{ style }} /
        <strong>언어:</strong> {{ language }}
      </p>
      <pre>{{ lyrics }}</pre>
    </div>
    <div class="albumcover">
      <h3>🎨 앨범 이미지</h3>
      <img src="{{ new_lyrics.image_file.url }}"><br>
      <a href="{{ new_lyrics.image_file.url }}" download>📥 이미지 다운로드</a>
      <p>⏱ 생성 시간: {{ elapsed_time }}초</p>
    </div>
  </div>
  {% endif %}

  {% if all_lyrics %}
  <hr>
  <div class="recent-lyrics">
    <h2 style="color: white;">최근에 만든 가사들</h2>
    {% for item in all_lyrics %}
    <div class="mylyrics-card" onclick="showLyricsModal(`{{ item.prompt }}`, `{{ item.lyrics|escapejs }}`)">
      <img src="{{ item.image_file.url }}" alt="앨범 이미지">
      <strong>{{ item.prompt }}</strong><br>
      <small>{{ item.style }} /
        {% if item.language == "korean" %}🇰🇷 한국어
        {% elif item.language == "english" %}🇺🇸 영어
        {% elif item.language == "japanese" %}🇯🇵 일본어
        {% elif item.language == "chinese" %}🇨🇳 중국어
        {% elif item.language == "thai" %}🇹🇭 태국어
        {%else %}🌍 언어무관
        {% endif %}
      </small><br>
      <small>{{ item.created_at|date:"Y-m-d H:i" }}</small>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>

<div id="lyricsModal" class="lyrics-modal">
  <h2 id="modalTitle">🎼 제목</h2>
  <pre id="modalLyrics"></pre>
  <button class="btn-glitch lyrics-btn" onclick="closeModal()">닫기</button>
</div>
<div id="modalBackdropLyrics" style="display:none;" onclick="closeModal()"></div>

{% endblock %}

{% block extra_script %}
<script src="{% static 'js/base.js' %}"></script>
<script src="{% static 'js/lyrics.js' %}"></script>
{% endblock %}